@import '../../../variables.less';

.highscore-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: @background-color;
}

.highscore--title {
  display: flex;
  margin: 0.5em 40px;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  padding: 0 30px 10px 30px;
  justify-content: center;
}

.highscore--text {
  color: @primary;
  font-size: 1.25em;
  text-transform: uppercase;
}

.highscore--list-button-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.highscore--list {
  list-style-type: none;
  margin: 0 40px;
  padding: 0;
  max-height: 80%;
  overflow: scroll;

  .highscore--item {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.45em;
    padding: 5px;
    justify-content: space-between;
    align-items: center;

    &-new {
      border: 2px solid white;
      border-radius: 11px;
    }

    &-selected {
      color: @primary;

      svg {
        fill: @primary;
      }
    }

    .item--index {
      width: 40px;
      line-height: 40px;
      font-size: 1.7em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .item--name {
      white-space: nowrap;
      max-width: 64%;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .item--score {
      width: 40px;
      align-items: center;
    }
  }
}

.highscore-buttons--container {
  display: flex;
  flex-direction: column;
  width: 86%;
  color: white;
  margin: 40px 0;
  align-self: center;

  .button-primary {
    font-size: 1.95em;
    margin-bottom: 20px;
  }
  .button-secondary {
    font-size: 1.4em;
    max-width: 65%;
    align-self: center;
  }
}
