.App {
  --dots-dim: 30px;
  --dots-color: white;
  --dots-color-active: #447044;
}

.dots-btn {
  width: var(--dots-dim);
  height: var(--dots-dim);
  padding: 3px;
  border-radius: 50%;
  border: 2px solid var(--dots-color);
}

.dots-btn--inner {
  border-radius: 50%;
  height: var(--dots-dim);
  width: var(--dots-dim);
  background-color: var(--dots-color);
}

.dots-btn--active {
  border: 2px solid var(--dots-color-active);
}

.dots-btn--inner-active {
  background-color: var(--dots-color-active);
}
